<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <center>
    <h1>display family table</h1>
    <table style="background-color: salmon;" border="2px">
        <tr style="color: navy;">
            <th>e_name</th>
            <th>sal</th>
            <th>gender</th>
            <th>id</th>
        </tr>
        {% for i in family %}
        <tr>
            <td>{{i.e_name}}</td>
            <td>{{i.sal}}</td>
            <td>{{i.gender}}</td>
            <td>{{i.id}}</td>
        </tr>
        {% endfor %}
    </table>
   </center>

</body>
</html>