<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>display dept table</h1>
        <table style="background-color: aquamarine;" border="3px">
            <tr style="color: crimson;">
                <th>d_name</th>
            </tr>
            {% for i in dept %}
            <tr>
                <td>{{i.d_name}}</td>
            </tr>
            {% endfor %}
        </table>
    </center>
</body>
</html>